header {
  text-align: center;
  font-family: verdana;
  font-size: 300%;
}

.table-1, th, td {
    border: 1px solid green;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    overflow-x: auto;
  }
