html, body {
    height: 100%;
    width: 100%;
}


div.header {
  background-size: 100% 100%;
  background-image:url(images/headeranimated.jpg);
  height: 300px;
  width: 900px;
  background-color: gray;
  /* border:5px solid red; */
  /* borders were used to visualize the space */
}

div.slide-right {
  width: 100%;
  overflow: hidden;
  animation: slide-right 5s;
}
@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-left {
  width: 100%;
  overflow: hidden;
  animation: slide-left 5s;
}
@keyframes slide-left {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%; 
  }
}
div.slide-up {

  padding-top: 0;
  overflow:visible; /* hidden clips the button tops!!! */
  animation: 3s slide-up;
  margin-top:0%;
}
@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }
  to {
    margin-top: 0%;
    height: 0%;
  }
}


.rotate {
  animation: 4s rotate;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg)
  }
  to {
    transform: rotateY(18000deg)
  }
}

h1 {
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 60px;
  font-style: italic;
  font-family: "Comic Sans MS", cursive;
  color:darkgreen;
  text-shadow: 2px 2px 4px black;
}


h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 36px;
  font-style: italic;
  font-family: Times, "Times New Roman", "serif";
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 4px black;
}

h3 {    
  margin-top: 80px;
  font-size: 32px;
}

h4 {
  font-size:32px
}

p2 { 
    margin-bottom: 10px;
}

body {
    background-color: gray;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: rgba(47, 79, 79, 0.411);
}

.headerBox {
  border: 5px  black;
}

nav {
  height:50px;
  width:100;
  margin-left: auto;
  margin-right: auto;
  padding-left: 240px; /* used to center nav */
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 30px;
  z-index: 5;
  position: absolute;
  }

nav a {
  padding: 8px 6px 6px 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 55px;
  font-family: "Lucida Console", "Courier New", monospace;
}
nav a.active, nav a:hover {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background-color: darkgray;
}

table, th, td {
  border: 3px black solid;
  border-collapse: collapse;

}

.green-day {
  background-color: lightgreen;
}
.white-day {
  background-color: white;
}

tr.titleblock {
  background-color: rgba(51, 61, 61, 0.589);
}

tr.block2 {
  background-color: rgba(51, 61, 61, 0.589);
}

tr.block3  {
  background-color: rgba(51, 61, 61, 0.589);
}

.video-container {
  text-align: center;
}

.sidebar {
  padding-left: 15px; /* creats a bit of margin from the main section */
  padding-right: 0px; /* more pushes is in compared to the top and bottom */
  padding-top: 0px; /* this pushes is down a little below the nav bar and feels less crowded */
  width: 0px;
  float: right;
}


@keyframes spin {
  from {
    transform: rotate(0deg) scale(0,0);
  }
  to {
    transform: rotate(720deg) scale(1,1);
  }
}

img.butka {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

  img.floatrightspin {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  animation: spin 5s;
  transition: transform 3s;
}
img.floatrightspin:hover {
  transform: translateY(-50px);
}

div.rollover {
  background-image: url("images/nichememe.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  width:200px;
  height: 200px;
  float:right;
}

div.rollover:hover {
  background-image: url("images/mynameiswelcome.webp");
    background-size: contain;
  background-repeat: no-repeat;
  width:200px;
  height:200px;
  float:right;
}


div.anotherrollover {
  background-image: url("images/diddyblud.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  width:200px;
  height: 154px;
  float:right;
}


div.anotherrollover:hover {
  background-image: url("images/xxxtenation.jpeg");
    background-size: contain;
  background-repeat: no-repeat;
  width:200px;
  height: 154px;
  float:right;
}

.footer {
    clear: both; /* this pushes the footer below floating elements */
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 25px;
    width: 850px;
    color: white;
    font-family: "Ludia Console", "Courier New", monospace}

footer a {
  color: white;
}
.footerleft {
  float: left;
  width: 450px;
}
.footerright {
  float: right;
  width: 350px;
  text-align: right;
}
